<!DOCTYPE html>
<html>
  <body style="
      background:linear-gradient(180deg,#fff0f5,#ffe6f2);
      font-family:'Segoe UI',sans-serif;
      text-align:center;
      padding:35px;
  ">

    <!-- Título principal -->
    <h2 style="color:#d63384; font-size:28px; margin-bottom:10px;">
      🌸✨ Hola Andreita ✨🌸
    </h2>

    <!-- Fecha dinámica -->
    <p style="font-size:14px; color:#777; margin-bottom:20px;">
      📅 {{FECHA}}
    </p>

    <!-- Texto principal -->
    <p style="font-size:18px; color:#444; margin:15px 0 30px;">
      💖 Que tengas un hermoso y bendecido día 💫<br>
      🌷 Recuerda Leer y orar, y también divertirte🌷
    </p>


    <!-- Firma -->
    <p style="margin-top:45px; color:#555; font-size:16px;">
      Con mucho cariño,<br>
      <b>Deelan 💖</b>
    </p>
    <b>Frontend en proceso......</b>

  </body>
</html>

